<div class="products-container">
  <md-button class="md-fab create-recipe-list"
             aria-label="FAB"
             ng-click="openNewProductDialog()">
    <i class="material-icons pointer">add</i>
    <md-tooltip md-direction="left">Create Product</md-tooltip>
  </md-button>
  <div class="product-header"
       flex-container="column"
       flex-align="start start">
    <h1>PRODUCTS</h1>
    <div flex-container="row"
         class="product-options">
      <div class="search-field">
        <md-input-container>
          <input placeholder="Search Products"
                 ng-keypress="searchProducts($event)"
                 name="productName">
        </md-input-container>
      </div>
      <div class="sort-field"
           flex-container="row">
        <div class="sort-name">Sort by: {{sortOption}}</div>
        <div class="sort-action-icon pointer">
          <md-menu md-position-mode="left bottom">
            <md-button ng-click="$mdMenu.open($event)"
                       class="md-icon-button"
                       aria-label="Open sample menu">
              <i class="material-icons sort-dropdown">arrow_drop_down</i>
            </md-button>
            <!-- Trigger element is a md-button with an icon -->
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="sort('asc')">Name - A to Z</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="sort('desc')">Name - Z to A</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="sort('custom')">Custom</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </div>
  </div>

  <div class="list"
       flex-container="column"
       flex-align="center center">
    <md-list>
      <md-list-item class="product"
                    ng-repeat="product in filteredProducts"
                    ng-class="{'added-to-list': isInShoppingList(product)}">
        <div flex-container="row"
             flex-item="100"
             flex-align="center center">
          <div flex-item="10"
               flex-container="row"
               flex-align="start center">
            <md-checkbox aria-label="Checkbox No Ink"
                         ng-model="product.selected"
                         ng-change="selectProduct(product)">
            </md-checkbox>
          </div>
          <div class="product-detail"
               flex-container="row"
               flex-item="70"
               flex-align="start center">{{ product.attributes.name | uppercase }}</div>

          <div class="product-detail"
               flex-container="row"
               flex-item="15"
               flex-align="end center">
            <i class="material-icons remove-icon pointer"
               ng-click="removeProduct(product.id)">delete</i>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>