<div class="jumbotron">
  <div class="container">
    <div flex-container="row" flex-align="center center">
      <span class="homepage-title">RECIPES</span>
    </div>   
    
    <div flex-container="row" flex-align="center center">
      <form name="recipeForm" ng-submit="createRecipe()">
        <md-input-container>
          <input placeholder="Enter Recipe Name" name="recipeName" ng-model="recipeName" minLength="3">
          <!-- <div ng-show="recipeForm.recipeName.$dirty" ng-messages="recipeForm.recipeName.$error">
            <div class="md-block" ng-message="minlength">Name must be at least 3 characters</div>
          </div> -->
        </md-input-container>
      </form>
    </div>
  </div>
</div>

<md-grid-list flex-container="column" flex-align="center center" md-cols="2" md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-lg="5" md-cols-gt-lg="5" md-row-height="200px">
  <md-grid-tile flex-align="center center" class="grid-tile" ng-repeat="recipe in recipes">
    <div class="recipe-tile">
      <div class="recipe-name" flex-container="row" flex-align="center center">
        {{ recipe["attributes"]["name"] | uppercase }}
      </div>
      <div class="recipe-description">
         Ingredients: {{ recipe["attributes"]["products"].length }}
      </div>
    </div>
  </md-grid-tile>
</md-grid-list>
