<!-- <div class="jumbotron jumbotron-tablet jumbotron-mobile"> -->
<div class="home-container">
    
    <!-- <form flex-container="row" flex-align="center center" class="new-recipe-form new-recipe-form-tablet new-recipe-form-mobile" name="recipeForm" ng-submit="createRecipe()">
      <div class="input-box input-box-mobile">
        <md-input-container class="new-recipe-input new-recipe-input-tablet">
          <input placeholder="Create New Recipe" name="recipeName" ng-model="recipeName" minLength="3">
        </md-input-container>
      </div>
    </form> -->
    <md-grid-list 
      class="recipe-grid-list" 
      md-cols-xs="1" 
      md-cols-sm="3" 
      md-cols-md="4" 
      md-cols-lg="5" 
      md-cols-gt-lg="5" 
      md-row-height="90">
    
      <md-grid-tile flex-align="center center" class="recipe-grid-tile" ng-repeat="recipe in recipes">
        <div flex-align="center center" flex-container="column" class="recipe-tile" ng-click="navigateToRecipe(recipe.id)">
          <div class="recipe-name recipe-name-tablet recipe-name-mobile" flex-item="65" flex-container="row" flex-align="center center">
            {{ recipe.attributes.name | uppercase }}
          </div>
          <div class="recipe-description recipe-description-mobile" flex-item="35" flex-container="row" flex-align="center center">
            {{ recipe.attributes.products.length }} INGREDIENTS
          </div>
        </div>
      </md-grid-tile>
    
    </md-grid-list>
    
</div>
