<md-dialog class="build-list">
    <form ng-submit="createRecipeList()" name="recipeListForm">
        <div>
            <h2>Create Your Shopping List</h2>
            <div class="sub-header">We've gathered all the ingredients from the recipes you selected.  Make your selections here to build your shopping list.</div>
            <div class="product-grid-list">
                <md-grid-list 
                    md-cols-xs="1" 
                    md-cols-gt-xs="2" 
                    md-row-height="75"
                    md-row-height-gt-xs="75">

                    <md-grid-tile class="product-grid-tile" ng-repeat="product in propagatedProducts">
                        <div flex-container="row" flex-item="100" flex-align="start center" class="product-checkbox">
                            <md-checkbox 
                                aria-label="Checkbox No Ink" 
                                ng-model="product.selected"
                                ng-change="selectProduct()">
                                {{product.name}}
                            </md-checkbox>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>

        <footer>
            <div layout="row" layout-align="center center" flex>
                <md-button class="cancel-button" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="create-button" type="submit">Create</md-button>
            </div>
        </footer>
    </form>
</md-dialog>