<div class="shopping-list-container">
    <div class="page-title">
        <h1>CURRENT LIST - {{currentList.attributes.name}}</h1>
    </div>

    <div class="list-items" flex-container="column" flex-align="center center">
        <md-list>
            <md-list-item class="product" ng-repeat="item in shoppingListItems" ng-class="{ 'checked-row': item.purchased }">

                <div flex-container="row" flex-item="100" flex-align="center center">

                    <div ng-class="{ 'checked-off': item.purchased }" flex-container="row" flex-item="70" flex-align="start center">
                        {{ item.name | uppercase }}
                    </div>

                    <!-- <div flex-container="row" flex-item="15" flex-align="end center">
                        <i class="material-icons icons pointer" ng-if="item.purchased">check</i>
                        <i class="material-icons icons pointer" ng-if="!item.purchased" ng-click="checkOffList(item)">check_box_outline_blank</i>
                    </div> -->

                </div>

            </md-list-item>
        </md-list>
    </div>

</div>