<div class="shopping-list-container">
  <div class="page-title">
    <h1>Shopping List - <span class="date">{{date}}</span></h1>
  </div>

  <div class="list-items"
       flex-container="column"
       flex-align="center center">
    <table>
      <thead>
        <tr>
          <th class="portion">Portion</th>
          <th class="item-name">Name</th>
          <th class="item-name comment-mobile">Comment</th>
          <th class="check-off">Check Off</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{ 'checked-off': item.purchased }"
            ng-repeat="item in shoppingListItems track by item.id">
          <td class="item-info">
            {{ item.portion }}
          </td>
          <td class="item-name">{{ item.name | uppercase }}</td>
          <td class="comment comment-mobile">
            {{ item.comment }}
          </td>
          <td>
            <i class="material-icons icons pointer"
               ng-click="checkOffList(item)">
              {{ item.purchased ? 'check_box' : 'check_box_outline_blank' }}
            </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>