<div>
  <div class="page-title page-title-mobile">
    <h1>{{ title }}</h1>    
  </div>
  <!-- <div class="custom-table">

    <table class=table>
      <tr ng-repeat="list in shoppingLists">
        <th></th>
        <th><a href="#!/shopping_lists/{{list['id']}}">{{ list["attributes"]["name"] }}</a></th>
        <th><button tooltip="Remove Product" style="color: red; border:none; background:white;"
           class="glyphicon glyphicon-remove" ng-click="removeList(list.id)"></button></th>
      </tr>
    </table>
  </div> -->

  <div class="section list" flex-container="column" flex-align="center center">
    <md-list class="list-mobile">
      <md-list-item class="product" ng-repeat="list in shoppingLists">
        <div flex-container="row" flex-item="100" flex-align="center center">
          <a href="#!/shopping_lists/{{list['id']}}" flex-container="row" flex-item="85" flex-align="start center">{{ list.attributes.name | uppercase }}</a>
  
          <div flex-container="row" flex-item="15" flex-align="end center">
            <i class="material-icons icons pointer" ng-click="removeList(list.id)">clear</i>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
