<div ng-controller="NavCtrl">
  <nav class="navbar header">
    <div flex-container="row" class="header-navbar">
      <div flex-align="start center" flex-item="20" flex-container="row" class="left-side-nav">
        <i class="material-icons logo" ng-click="openNav()">fastfood</i>
      </div>
      <div 
        flex-item="60" 
        flex-container="row" 
        flex-align="center center" 
        class="create-recipe-list-button" 
        ng-if="showCreateButton">
        <md-button class="md-raised md-primary" ng-click="openBuildListDialog()">Create Recipe List</md-button>
      </div>
      <div class="navbar-title" flex-align="end center" flex-item="20" flex-container="row">
        <a href="#!/home" class="navbar-title-text">gList</a>
      </div>
    </div>
  </nav>

  <div id="mySidenav" class="sidenav">
    <a class="closebtn" ng-click="closeNav()">&times;</a>
    <a ng-click="closeNav()" href="#!/home">Recipes</a>
    <a ng-click="closeNav()" href="#!/products">Ingredients</a>
    <a ng-click="closeNav()" href="#!/recipe_lists">Past Recipe Lists</a>
    <a ng-click="closeNav()" href="#!/shopping_lists">Past Shopping Lists</a>
    <a ng-click="closeNav()" href="#!new_shopping_list">Current Shopping List</a>
    <a ng-click="logout()" class="pointer">Logout</a>
  </div>
</div>
