<div class="page-title">
  <h1>{{title}}</h1>

    <form ng-submit="createProduct()">
      <div class="form-group">
        <table class="product-form" style="margin-right: auto; margin-left: auto;">
          <tr>
            <th><input type="text" class="form-control" placeholder="Name" ng-model="name"></input></th>

            <th><select name="category" id="category" ng-options="(category.attributes.name | uppercase) for category in categories track by category.id"
               ng-class="{ 'category-select': true }" class="form-control" ng-model="category" placeholder="Category">
               <option value="">Choose Category</option>
              </select></th>

            <th><button type="submit" class="btn btn-primary">Add Product</button></th>
          </tr>
        </table>
      </div>
    </form>

</div>
<hr style="width: 95%;">

<div class="custom-table">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th><h4>Name</h4></th>
        <th><h4>Category</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td><input type="checkbox" name="name" value="name"></td>
        <td>{{ product["attributes"]["name"] | uppercase }}</td>
        <td></td>
      </tr>
    </tbody>
</table>
</div>
