<div ng-controller="NavCtrl">
  <nav class="navbar header">
    <div flex-container="row" class="header-navbar">
      <div flex-align="start center" flex-item="20" flex-container="row" class="left-side-nav">
        <a ng-show="signedIn()" class="menu-icon menu-icon-mobile" ng-click="openNav()">&#9776;</a>
        <a ng-show="!signedIn() && showRegister()" class="create-account" href="#!/register">REGISTER</a>
        <a ng-show="!signedIn() && showLogin()" class="create-account" href="#!/login">LOGIN</a>
      </div>
      <div class="navbar-title" flex-align="end center" flex-item="80" flex-container="row">
        <a href="#!/home" class="navbar-title-text" ng-click="closeNav()">gList</a>
      </div>
      <!-- <div flex-container="row" flex-align="end center" flex-item="20">
        <button flex-align="center end" ng-show="signedIn()" type="button" class="btn btn-default logout-button" ng-click="logout()">LOG OUT</button>
      </div> -->
    </div>
  </nav>

  <div id="mySidenav" class="sidenav">
    <a class="closebtn" ng-click="closeNav()">&times;</a>
    <a ng-click="closeNav()" href="#!/home">Home</a>
    <a ng-click="closeNav()" href="#!/products">Products</a>
    <a ng-click="closeNav()" href="#!/categories">Categories</a>
    <a ng-click="closeNav()" href="#!/recipes">Recipes</a>
    <a ng-click="closeNav()" href="#!/shopping_lists">Shopping Lists</a>
    <a ng-click="closeNav()" href="#!new_shopping_list">Current Shopping List</a>
    <a ng-click="logout()" class="pointer">LOGOUT</a>
  </div>
</div>
