.products-container {
    height: 100%;
    width: 100%;

    .product-header {
      height:100px;
      text-align: center;
      padding: 15px;

      .add-product-button {
        margin-left: 15px;
        border-radius: 3px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        padding: 0;

        .add-product-icon {
          color: rgba(0,0,0,0.54);
          font-size: 25px !important;
          outline: none;
          margin:0 auto;
        }
      }

      .sort-field {
        width: 130px;
        height: 30px;
        border: 1px solid #CCC;
        border-radius: 3px;
        margin-left: 15px;

        .sort-name {
          width: 98px;
          height: 100%;
          padding-top: 5px;
          color: rgba(0,0,0,0.54);
        }

        .sort-action-icon {
          width: 30px;
          height: 100%;
          border-left: 1px solid #CCC;

          .md-button.md-icon-button {
            margin: 0;
            padding: 0 8px 5px 0;
          }

          .sort-dropdown {
            color: rgba(0,0,0,0.54);
          }
        }
      }

      .search-field {
        border: 1px solid #CCC;
        border-radius: 3px;
        height: 30px;
        margin-left: 15px;

        md-input-container {
          margin: 0;

          .md-input {
            border: none;
            height: 25px;
          }

          label {
            text-align: left;
            padding-bottom: 4px;
            color: rgba(0,0,0,0.54);
          }
        }

        md-input-container:not(.md-input-invalid).md-input-focused {
          .md-input {
            border: none;
          }
          label {
            display: none;
          }
        } 
      }
    }

    .list {
        height: calc(100% - 155px);
        overflow: scroll;

        .product-detail {
            margin-bottom: 15px;
        }

        .remove-icon {
          color: rgba(0,0,0,0.54);
        }
        
        md-list {
            width: 100%;
            height: 100%;
        }

        md-list-item.md-no-proxy, md-list-item .md-no-style {
            border-bottom: 1px solid #eee;
            font-weight: 300;
            padding-top: 15px;
        }
    }

}

/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1024px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {

}