.products-container {
    height: 100%;
    width: 100%;

    h1 {
        text-align: center;
    }
    

    .md-button.md-fab {
        top: auto;
        right: 20px;
        bottom: 15px;
        left: auto;
        position: absolute;
        background-color: #46b19f;

        .material-icons {
            padding-top: 15px;
            outline: none;
        }
    }
    .list {
        border-top: 1px solid #CCC;
        height: calc(100% - 245px);
        overflow: scroll;
        
        md-list {
            width: 100%;
            height: 100%;
        }
    }

}

/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1024px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {

}