.products-container {
    height: 100%;
    width: 100%;

    .md-button.md-fab {
      top: 85px;
      right: 10px;
      bottom: 0;
      left: auto;
      position: absolute;
      background-color: #fb956d;

      .material-icons {
        padding-top: 15px;
        outline: none;
      }
    }

    .md-button.md-fab:hover {
      background-color: #fb956d;
    }

    .create-recipe-list {
      bottom: 95px !important;
    }

    .product-header {
      text-align: center;
      padding: 0px 15px 25px 15px;
      border-bottom: 3px solid rgba(0,0,0,0.54);

      h1 {
        margin-bottom: 10px;
      }

      .add-product-button {
        margin-left: 15px;
        border-radius: 3px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        padding: 0;
        background-color: white;

        .add-product-icon {
          color: rgba(0,0,0,0.54);
          font-size: 25px !important;
          outline: none;
          margin:0 auto;
        }
      }

      .sort-field {
        height: 30px;
        border: 1px solid #CCC;
        border-radius: 3px;
        margin-left: 15px;

        .sort-name {
          width: 155px;
          height: 100%;
          text-align: left;
          padding-left: 3px;
          padding-top: 6px;
          color: rgba(0,0,0,0.54);
        }

        .sort-action-icon {
          width: 30px;
          height: 100%;
          border-left: 1px solid #CCC;

          .md-button.md-icon-button {
            margin: 0;
            padding: 0 8px 5px 0;
          }

          .sort-dropdown {
            color: rgba(0,0,0,0.54);
          }
        }
      }

      .search-field {
        border: 1px solid #CCC;
        border-radius: 3px;
        height: 30px;

        md-input-container {
          margin: 0;

          .md-input {
            border: none;
            height: 25px;
          }

          label {
            text-align: left;
            padding-bottom: 4px;
            color: rgba(0,0,0,0.54);
          }
        }

        md-input-container:not(.md-input-invalid).md-input-focused {
          .md-input {
            border: none;
          }
          label {
            display: none;
          }
        } 
      }
    }

    .list {
        height: calc(100% - 207px);
        overflow: scroll;

        .product-detail {
            margin-bottom: 15px;
        }

        .remove-icon {
          color: rgba(0,0,0,0.54);
        }
        
        md-list {
            width: 100%;
            height: 100%;
        }

        md-list-item.md-no-proxy, md-list-item .md-no-style {
            border-bottom: 1px solid #eee;
            font-weight: 300;
            padding-top: 15px;
        }
    }

}

/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1024px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {

  .product-header {
    height: auto !important;

    .product-options {
      flex-direction: column;

      .sort-field {
        margin-left: 0;
        margin-top: 5px;
      }

      .add-product-button {
        margin-top: 7px;
      }
    }


  }

  .products-container .list {
    height: calc(100% - 244px);
  }
}