.build-list {
    height: 400px;
    width: 600px;
    overflow: hidden;

    form {
        overflow: hidden;
    }

    md-input-container {
        margin: 0;
    }

    .product-grid-list {
        height: calc(100vh - 260px) !important;
        overflow: auto;

        .product-grid-tile {
            margin-top: 25px;
        }

        .product-checkbox {
            margin-left: 25px;
            width: 100%;

            md-checkbox {
                margin-bottom: 8px;
            }
        }

        .portion {
            width: 90px;
            height: 30px;
            border-radius: 3px;
            border: 1px solid #CCC;
        }
    }

    .sub-header {
        font-size: 12px;
        color: #b2b0b0;
        font-weight: 500;
        padding: 0 25px 15px 25px;
    }

    h1 {
        text-align: center;
    }



    button {
        height: 50px;
    }

    .cancel-button {
        margin: 6px 3px 6px 3px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 3px;
    }

    .create-button {
        margin: 6px 3px 6px 3px;
        font-size: 15px;
        font-weight: 500;
        color: white;
        background: #fb956d;
        border-radius: 3px;
    }
}


/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1023px) {

    // .build-list {
    //     height: 100% !important;

        // > div {
        //     min-height: calc(70vh - 272px);
        // }
    // }
}

@media (min-width: 1024px) {

    // .build-list {
    //     height: 100% !important;

        // > div {
        //     min-height: calc(70vh - 100px);
        // }
    // }
}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {
    .build-list {
        height: 100% !important;

        .product-grid-list {
            height: calc(100vh - 345px) !important;
        }
    }
}