.build-list {
    height: 400px;
    width: 400px;
    overflow: hidden;

    form {
        overflow: hidden;
    }

    .product-grid-list {
        height: calc(100vh - 433px) !important;
        overflow: auto;
    }

    .sub-header {
        font-size: 12px;
        color: #b2b0b0;
        font-weight: 500;
        padding: 0 25px;
    }

    h2 {
        text-align: center;
    }

    .product-checkbox {
        margin-left: 25px;
    }

    footer {
        bottom: 0px;
        position: fixed;
        width: 100%;
        background-color: white;

        .cancel-button {
            margin: 6px 3px 6px 3px;
            font-size: 15px;
            font-weight: 300;
            border-radius: 3px;
            border: 1px solid #CCC;
        }

        .create-button {
            margin: 6px 3px 6px 3px;
            font-size: 15px;
            font-weight: 400;
            color: white;
            background: #46b19f;
            border-radius: 3px;
        }
    }
}


/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1023px) {

    // .build-list {
    //     height: 100% !important;

        // > div {
        //     min-height: calc(70vh - 272px);
        // }
    // }
}

@media (min-width: 1024px) {

    // .build-list {
    //     height: 100% !important;

        // > div {
        //     min-height: calc(70vh - 100px);
        // }
    // }
}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {
    .build-list {
        height: 100% !important;

        .product-grid-list {
            height: calc(100vh - 345px) !important;
        }
    }
}