.home-container {
    width: 100%;
    height: calc(100vh - 81px);
    overflow: auto;

    .md-button.md-fab {
        top: auto;
        right: 20px;
        bottom: 20px;
        left: auto;
        position: absolute;
        background-color: #46b19f;

        .material-icons {
            padding-top: 15px;
            outline: none;
        }
    }

    .recipe-grid-tile {
        height: calc(198px) !important;
        
        .recipe-tile {
            text-align: center;
            height: 175px;
            width: 95%;
            border: 1px solid #CCC;
            border-radius: 3px;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            outline: none;

            .weekly-list-checkbox {
                width: 100%;
                visibility: hidden;

                .checkbox {
                    md-checkbox {
                        margin-left: 10px;
                        margin-top: 10px;
                    }
                }

                .menu-button {
                    i {
                        outline: none;
                        color: #7e7878;
                        font-size: 22px !important;
                        margin-right: 10px;
                        margin-top: 10px;
                    }
                }
            }
    
            .recipe-name {
                outline: none;
                margin-top: 25px;
                font-size: 25px;
                font-weight: 200; 
                width: 100%; 
            }

            .recipe-description {
                outline: none;
                font-size: 18px;
                font-weight: 100;
                margin-top: 20px;
                width: 100%;
            }
        }
    
        .recipe-tile:hover {
            box-shadow: 0 1px 5px 1px #CCC;

            .weekly-list-checkbox {
                visibility: visible;
            }
        }
    }

}

.show-checkbox {
    visibility: visible !important;
}


@media (min-width: 1200px) {

}

/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1199px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {
    .recipe-grid-list {
        height: calc(100vh - 76px) !important;
        padding-top: 85px;
        
        .recipe-grid-tile {
            width: 98% !important;
            margin-top: -80px !important;
            position: relative;
            
            .recipe-tile {
                height: 100%;
                display: flex;
                align-items: flex-start;

                .weekly-list-checkbox {
                    visibility: visible !important;
                }

                .recipe-description {
                    margin-top: 0;
                    font-size: 18px;
                    font-weight: 100;
                    height: 100%;
                }

                .recipe-name {
                    margin-top: 0;
                    font-size: 24px;
                    font-weight: 200;
                    height: 100%;
                }
            }
        }
    }


}