.header-navbar {
    height: 100%;

    .left-side-nav {
        height: 100%;

        .create-account {
            text-decoration: none;
            margin-left: 15px;
            font-size: 18px;
            font-weight: bold;
            color: #46b19f;
        }
    }
}