.navbar {
  box-shadow: 0px -1px 4px 1px;
  border: none;

  .header-navbar {
      height: 100%;
      padding: 0 30px;
      background-color: #fb956d;

      .create-recipe-list-button {
          height: 100%;

          .md-button {
              background-color: #fb956d;
              color: white;
              border-radius: 3px;
              font-weight: 400;
              padding: 5px;
          }
      }

      .left-side-nav {
          height: 100%;
          flex-flow: unset !important;

          .logo {
              color: white;
              cursor: pointer;
              outline: none;
              font-size: 32px !important;
          }

          .create-account {
              text-decoration: none;
              font-size: 18px;
              font-weight: bold;
              color: #fb956d;
          }
      }

      .navbar-title {
        height: 100%;
        flex-flow: unset !important;

        .navbar-title-text {
          font-size: 24px;
          color: white;
          outline: 0;
          text-decoration: none;
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    } 
}

.nav-item-selected {
    color: #fb956d !important;
}

.md-button.md-primary.md-raised:not([disabled]):hover {
    background-color: #fb956d;
}

/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1199px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {

    .create-recipe-list-button {
        .md-button {
            font-size: 15px;
            margin-right: 25px;
        }
    }

}