.header-navbar {
    height: 100%;
    padding: 0 30px;

    .create-recipe-list-button {
        height: 100%;

        .md-button {
            background-color: #46b19f;
            color: white;
            border-radius: 3px;
            font-weight: 400;
            padding: 5px;
        }
    }

    .left-side-nav {
        height: 100%;

        .logo {
            color: #46b19f;
            cursor: pointer;
            outline: none;
        }

        .create-account {
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            color: #46b19f;
        }
    }

    .navbar-title {
        height: 100%;

        .navbar-title-text {
            font-size: 24px;
            color: #46b19f;
            outline: 0;
        }
    }
}

.md-button.md-primary.md-raised:not([disabled]):hover {
    background-color: rgb(63,81,181);
}

/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1199px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {

    .create-recipe-list-button {
        .md-button {
            font-size: 15px;
            margin-right: 25px;
        }
    }

}