.recipe-container {
    padding: 25px 25px 0 25px;
    height: calc(100vh - 100px);
    background: white;
    overflow: auto;

    .recipe-title {
        font-weight: 300;
        font-size: 40px;
        margin: 20px 0;
    }

    md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
        margin-bottom: 5px;
    }

    .section {
        width: 100%;
        border-bottom: 1px solid #CCC;

        .search-container {
            height: 60px;
            margin: 5px 0 15px 20px;
            flex-flow: unset !important;

            md-autocomplete {
                width: 325px;
            }
        }

        .description-container {
            width: 100%;
            border: 1px solid #CCC;
            border-radius: 5px;
    
            .description {
                width: 100%;
                box-shadow: none;
                background-color: inherit;
                font-weight: 300;
                border-bottom: none;
                font-size: 20px;
                min-height: 50px;
            }
        }
    }

    .ingredient-list {
        .added-to-list {
            background-color: #46b19f;
            color: white;
            font-weight: 400 !important;
            
            div {
                i {
                    color: white !important;
                }
            }
        }

        md-list {
            padding: 0 0px 8px 0px;
        }

        md-list-item.md-no-proxy, md-list-item .md-no-style {
            border-bottom: 1px solid #eee;
            font-weight: 300;

            .add-button {
                i {
                    color: darkgrey;
                }
            }

            .delete-icon {
                i {
                    color: #7e7878;
                    // color: #da4545;
                }
            }
        }
    }

}

/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1199px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {
    .recipe-container {

        .section {
            width: 100%;
            border-bottom: 1px solid #CCC;

            h2 {
                margin-bottom: 0;
            }

            .search-container {
                margin: 10px 0 0 0;

                md-autocomplete {
                    width: 100%; 
                    height: 100%;
                    
                    input {
                        border-bottom: none;
                    }
                }
            }

            .description-container {
                margin-bottom: 0;
                margin-top: 15px;

                .md-errors-spacer {
                    min-height: 0;
                }
            }
        }

        .ingredient-list {
            height: calc(100vh - 150px);

            md-list {
                width: 100%;
                padding-bottom: 0;
                padding-top: 0;
            }

            md-list-item.md-no-proxy, md-list-item .md-no-style {
                padding: 0 30px;
                height: 100px;
                font-size: 22px;

                .delete-icon {
                    flex: 20 0 0% !important;
                }
            }
        }
    }

}