.recipe-container {
  padding: 25px 25px 0 25px;
  height: calc(100vh - 100px);
  background: white;
  overflow: auto;

  md-divider {
    margin: 40px 0;
  }

  .top-header-section {
    width: 100%;
    height: 300px;

    .image-container {
      height: 300px;
      width: 300px;
      outline: none;
      align-items: center;
      display: flex;
      border: 1px solid #CCC;
      border-radius: 4px;

      img {
        max-height: 95%;
        max-width: 95%;
        border-radius: 3px;
        margin: 0 auto;
      }
    }

    .recipe-info {
      padding: 15px;

      .recipe-title {
        font-weight: 300;
        font-size: 40px;
        margin: 20px 0;
      }

      .upload-section {
        .clear-upload {
          margin-top: 9px;
          margin-left: 5px;
        }
        
        .upload-title {
          font-size: 13px;
          margin-bottom: 7px;
          font-weight: 400;
          color: #bebdbd;
          // color: rgba(0,0,0,0.54);
        }
  
        .file-name {
          font-size: 25px;
          font-weight: 300;
          margin: 4px 0 0 10px;
        }
  
        .file-select-button {
          width: 125px; 
          height: 30px;
          margin: 0;
          background-color: #bebdbd;
          color: white;
          text-transform: capitalize;
          border-radius: 3px;
        }
  
        .file-selected {
          background-color: #fb956d;
        }
  
        .file-select {
          visibility: hidden;
        }
      }
    }
  }

  .recipe-instructions-section {

    > p {
      font-size: 25px;
      font-weight: 300;
    }

    .description-container {
      overflow: hidden;
      width: 100%;
      height: 400px;
      border: 1px solid #CCC;
      border-radius: 3px;
      margin: 0;
      padding: 0;

      .md-resize-wrapper {
        height: 100%;

        .description {
          width: 100%;
          height: 100% !important;
          box-shadow: none;
          background-color: inherit;
          font-weight: 300;
          border-bottom: none;
          font-size: 20px;
          min-height: 50px;
          overflow: auto;
        }
      }
    }
  }

  .ingredient-list-section {
    width: 100%;
    margin: 30px 0;

    .search-container {
      height: 60px;
      flex-flow: unset !important;
      padding-top: 10px;

      md-autocomplete {
        width: 325px;
      }
    }

    .ingredient-list {
      table {
        position: relative;
        width: 100%;
        border-collapse: collapse;
  
        th, td {
          border-bottom: 1px solid #CCC;
        }
  
        th {
          text-align: left;
          position: sticky;
          top: -25px;
          z-index: 1;
          background-color: white;
        }
  
        tr {
          height: 50px;
        }
  
        .remove-icon {
          text-align: right;
          color: rgba(0,0,0,0.54);
        }
  
        .checkbox {
          padding-top: 15px;
          text-align: center;
          width: 50px;
        }
  
        .portion {
          width: 100px;
  
          input {
            height: 30px;
            width: 100%;
            border-radius: 3px;
            border: 1px solid #CCC;
            outline: none;
          }
        }
  
        .product-name {
          padding-left: 20px;
        }
      }
  
      .added-to-list {
        background-color: #fb956d;
        color: white;
        font-weight: 400 !important;
        
        div {
          i {
            color: white !important;
          }
        }
      }
    }
  }




}

/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1199px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {
    .recipe-container {
      .top-header-section {
        height: auto;
        margin-bottom: 0;

        .image-container {
          width: 100%;
        }

        .recipe-info {
          padding: 15px 0 0 0;
          
          .recipe-title {
            margin: 0 !important;
          }
        }
      }

      .search-container {
        margin: 10px 0 0 0;
        
        md-autocomplete-wrap {
            border-radius: 3px;
            box-shadow: none;
            border: 1px solid rgb(204, 204, 204);
        }

        md-autocomplete {
            width: 100%; 
            height: 100%;
            
            input {
                border-bottom: none;
            }
        }
      }

      .file-upload-content {
        flex-direction: column !important;

        .file-name {
          margin-left: 0 !important;
        }
      }

      .description-container {
        margin-bottom: 0;
        margin-top: 15px;
        width: 99% !important;
        margin-bottom: 10px !important;

        .md-errors-spacer {
          min-height: 0;
        }
      }

      .product-name {
        padding-left: 10px !important;
      }

      .ingredient-list {
        height: calc(100vh - 150px);
      }
    }

}