.recipe-container {
    width: 100%;
    padding: 25px 25px 0 25px;
    height: calc(100vh - 28px);
    background: white;
    overflow: auto;

    .instructions-label {
        font-size: 26px;
        font-weight: 200;
    }

    .description {
        width: 100%;
        font-size: 18px;
        border-radius: 3px;
        box-shadow: none;
        background-color: inherit;
        font-weight: 300;
    }
}

// @media (min-width: 1200px) {

// }

/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 600px) and (max-width: 1199px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {
    .recipe-container {
        .recipe-title {
            font-weight: 300;
            font-size: 40px;
            margin: 20px 0;
        }

        .section {
            width: 100%;
            border-bottom: 1px solid #CCC;

            h2 {
                margin-bottom: 0;
            }

            .search-container {
                height: 60px;

                 md-autocomplete {
                    width: 100%; 
                    height: 100%;
                    
                    input {
                        border-bottom: none;
                    }
                }
            }

            .description-container {
                margin-bottom: 0;
                margin-top: 15px;
                .md-errors-spacer {
                    min-height: 0;
                }
                
                .description {
                    border-bottom: none;
                    font-size: 20px;
                    min-height: 50px;
                }
            }
        }
    }

}