.shopping-list-container {
    background-color: white;
    padding: 0 25px;
    height: calc(100vh - 75px);
    overflow: auto;

    .list-items {
        width: 100%;
        background-color: white;
    
        table {
            position: relative;
            width: 100%;
            border-collapse: collapse;

            th, td {
                border-bottom: 1px solid #CCC;
            }

            th {
                text-align: left;
                position: sticky;
                top: 0;
                background-color: white;
            }

            tr {
                height: 50px;
            }

            tr:last-child td {
                border-bottom: none !important;
            }

            td:last-child {
                text-align: end;
            }

            .check-off {
                text-align: end
            }

            .portion {
                width: 100px;
            }
            
            .comment {
                width: 225px;
                padding-left: 15px;
            }

            .item-name {
                padding-left: 15px;
            }

            .icons {
                padding-right: 20px;
            }
        }

        .inner-row {
            margin-bottom: 10px;
        }

        .checked-row {
            background-color: #a3d2f4;
        }
    }

}

    /* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 599px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) {

    .page-title {
        text-align: center;
        top: 70px;
        background-color: white;
        width: 100%;
        z-index: 1;
    }



    // .create-shopping-list-button {
    //     width: 100%;
    //     height: 100px;
    //     background-color: #46b19f;
    //     position: fixed;
    //     color: white;
    //     font-size: 20px;
    //     font-weight: 400;
    //     bottom: 0;
    // }

}