.shopping-lists-container {
    background-color: white;
    padding: 0 25px;
    height: calc(100vh - 75px);
    overflow: auto;
    
    .list-items {
        width: 100%;
        background-color: white;
    
        md-list {
            width: 100%;
        }

        md-list-item.md-no-proxy, md-list-item .md-no-style {
            border-bottom: 1px solid #eee;
            font-weight: 300;
            padding-top: 15px;
        }
    }
}

    /* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 599px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) {


}