.shopping-list-form-container {
    height: calc(100vh - 152px);
    background-color: white;
    padding: 0 25px;
    overflow: auto;

    h1 {
        margin-bottom: 0;
    }

    .list-items {
        width: 100%;

        table {
            position: relative;
            width: 100%;
            border-collapse: collapse;

            th, td {
                border-bottom: 1px solid #CCC;
            }

            th {
                text-align: left;
                position: sticky;
                top: 0;
                background-color: white;
                color: #a7a5a5;
                font-weight: 500;
            }

            tr {
                height: 50px;
            }

            tr:last-child td {
                border-bottom: none !important;
            }

            td:last-child {
                text-align: end;
            }

            .portion {
                width: 100px;

                input {
                    height: 30px;
                    width: 100%;
                    border-radius: 3px;
                    border: 1px solid #CCC;
                    outline: none;
                }
            }
            
            .comment {
                width: 225px;

                input {
                    height: 30px;
                    width: 100%;
                    border-radius: 3px;
                    border: 1px solid #CCC;
                    outline: none;
                }
            }

            .item-name {
                padding-left: 15px;
            }

            .icons {
                padding-right: 10px;
            }
        }
    }
}

.button-row {
    width: 100%;
    height: 75px;
    border-top: 1px solid#CCC;
    position: fixed;
    bottom: 0;
    background-color: white;

    .inner-left {
        height: 100%;
        padding: 24px 0 0 25px;

        .item-count-container {
            width: 100px;
            height: 30px;
            background-color: #fb956d;
            border-radius: 13px;
            
            .item-count {
                color: white;
                text-align: center;
                padding-top: 4px;
                font-weight: 500;
            }
        }
    }


    .buttons {
        height: 100%;
        padding: 5px 15px 0 0;
    }

    .md-button {
        border-radius: 3px;
        font-size: 20px;
        font-weight: 400;
        width: 150px;
        height: 50px;
    }

    .create-shopping-list-button {
        background-color: #fb956d !important;
        color: white;
    }

    .clear-shopping-list-button {
        
    }

}

/* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 599px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) and (max-width: 599px) {
    .shopping-list-form-container {
        height: calc(100vh - 176px);
    }

    .icons {
        padding-right: 0 !important;
        padding-left: 10px;
    }

    .portion {
        width: 100px !important;
    }

    .comment {
      display: none;
      // width: 110px !important;
    }

    .button-row {
        position: fixed;
        bottom: 0;
        height: 100px;
        width: 100%;

        .inner-left {
          display: flex;
          align-items: center;
          padding: 0;

          .item-count-container {
            margin: 0 auto;
          }
        }

        .buttons {
            flex: 80 0 0% !important;
            place-content: center !important;
            display: flex !important;
            align-items: center !important;
            padding: 0;

            .clear-shopping-list-button {
                border: 1px solid #CCC;
            }       
        }

        .md-button {
            width: 100px;
            height: 60px;
            margin: 0 5px;
        }
    }

}