.list-items {
    width: 100%;
    md-list {
        width: 100%;
        padding: 0;
    }
}

    /* ---------------- TABLET STYLING  ---------------- */
@media (min-width: 599px) {

}

/* ---------------- MOBILE STYLING  ---------------- */
@media (min-width: 300px) {


}