<div class="page-title">
  <h1>{{title}}</h1>

    <form ng-submit="createCategory()">
      <div class="form-group">
        <table class="product-form" style="margin-right: auto; margin-left: auto;">
          <tr>
            <th><input type="text" class="form-control" placeholder="Name" ng-model="name"></input></th>
            <th><button type="submit" class="btn btn-primary">Add Category</button></th>
          </tr>
          <tr>
            <td><input type="checkbox" name="recipe" value="true" ng-model="recipe">Recipe</td>
            <td></td>
          </tr>
        </table>
      </div>
    </form>

</div>
<hr style="width: 95%;">
<div class="custom-table">

  <table class="table">
      <tr ng-repeat="category in categories">
        <td>{{ category["attributes"]["name"] | uppercase }}</td>
        <td><button style="color: red; border:none; background:white;"
           class="glyphicon glyphicon-remove" ng-click="removeCategory(category.id)"></button></td>
      </tr>
  </table>

</div>
