<div class="recipe-container">

  <div class="recipe-title"
       flex-container="row"
       flex-align="center center">
    {{ recipe.attributes.name | uppercase }}
  </div>

  <div flex-container="row"
       class="top-container">
    <div class="description-section"
         flex-container="column"
         flex-item="50">

      <md-input-container class="description-container">
        <textarea placeholder="Enter the recipe instructions here"
                  class="form-control description"
                  ng-change="saveDescription()"
                  ng-model-options='{ debounce: 1000 }'
                  ng-model="description">
        </textarea>
      </md-input-container>
    </div>

    <div class="image-container"
         flex-item="50">
      <div>
        <img ng-src="{{ recipe.attributes.cover }}" />
      </div>
    </div>
  </div>

  <div class="middle-container"
       flex-container="row">
    <div class="left-side"
         flex-item="50">
      <h2>INGREDIENTS ({{recipeProducts.length}})</h2>
      <div class="search-container">
        <md-autocomplete md-select-on-match="true"
                         md-no-cache="true"
                         placeholder="Search for ingredients to add or create new"
                         md-search-text="searchText"
                         ng-keypress="createProduct($event)"
                         md-selected-item-change="selectedItemChange(item)"
                         md-selected-item="selectedItem.name"
                         md-items="item in searchProducts(searchText)"
                         md-item-text="item.attributes.name">
          <md-item-template>
            <span md-highlight-text="searchText"
                  md-highlight-flags="^i"> {{item.attributes.name}} </span>
          </md-item-template>
          <!-- <md-not-found>
            <span class="has-error">No Product Found!!!</span>
          </md-not-found> -->
        </md-autocomplete>
      </div>

    </div>

    <!-- Upload Cover Image -->
    <div flex-item="50"
         class="upload-section">
      <div flex-container="row">
        <md-button class="file-select-button"
                   ng-if="!fileUpload"
                   ng-click="selectFile()">Select File</md-button>
        <p ng-if="!fileUpload"
           class="upload-title">Update Cover Image</p>
        <md-button class="file-select-button file-selected"
                   ng-if="fileUpload"
                   ng-click="onUpload()">Upload</md-button>
        <div ng-if="fileUpload"
             class="file-name">{{fileUpload.name}}</div>
        <i ng-if="fileUpload"
           class="material-icons clear-upload pointer"
           ng-click="clearUpload()">clear</i>
      </div>
      <input name="upload"
             id="upload_input"
             class="file-select"
             type="file"
             file-model="fileUpload" />
    </div>
  </div>

  <!-- Recipe Product List -->
  <div class="ingredient-list">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Portion</th>
          <th class="product-name">Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in recipeProducts">
          <td class="checkbox">
            <md-checkbox aria-label="Checkbox No Ink"
                         ng-model="product.selected"
                         ng-change="selectProduct(product)">
            </md-checkbox>
          </td>
          <td class="portion">
            <input type="text"
                   ng-model="product.portion"
                   ng-keydown="updatePortion($event, product)">
          </td>
          <td class="product-name">{{ product.name | uppercase }}</td>
          <td>
            <i class="material-icons icons pointer"
               ng-click="removeProduct(product.id)">delete</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>