<!DOCTYPE html>
<head>
  <title>gList</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="g-list">
  <div class="page-container">
    <div id="myCanvasNav" class="overlay3" onclick="closeOffcanvas()"></div>
    <div ng-include="'nav/_nav.html'" style="width: 100%;"></div>
    <ui-view></ui-view>
  </div>

  <script>
    closeOffcanvas = function() {
      document.getElementById("myCanvasNav").style.width = "0%";
      document.getElementById("myCanvasNav").style.opacity = "0";
      document.getElementById("mySidenav").style.width = "0";
    };

    document.body.requestFullscreen()
  </script>
</body>
</html>
